@font-face {
    font-family: "Roboto";
    src: url(../Roboto-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
    --button-border-radius: 8px;
    --color-fill: #FFFFFF;
    --color-base: #222222;
    --color-base-two: #555555;
    --font-size-text: 18px;
}
body{
    font-family: "Roboto", sans-serif;
    color: var(--color-base);
    background-color: var(--color-fill);
    font-weight: 400;

}
h2 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 52px;
    line-height: 118%;
    letter-spacing: 0.02em;
    color: #222;
}
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: #222
}
p {
    font-size: 18px;
    line-height: 140%;
    color: var(--color-base-two);
}
@media(hover:hover){
a:hover{
    transition: 0.3s;
    transform: scale(1.3); /* увеличение при наведении*/
}
}
@media(hover:hover){
 button:hover{
    transition: 0.2s;
    transform: scale(1.1); /* увеличение при наведении*/
}
button:active {
    opacity: 0.5;
} /*актив , прозрачность при клике*/
}
.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 175px 0 69px;
}
.header-action{
    font-size: 16px;
    color: #000;
    border: 1px solid #222;
    border-radius: 8px;
    padding: 10px 31px;
}
@media(max-width: 750px) {
    .header-section{
        padding-inline: 20px;
        padding-top: 20px;
        flex-wrap: wrap;
    }
}
.tittle-section{
    padding-left: 70px;
    margin-top: 95px;
    padding-bottom: 70px;
}
.tittle-section__header{
    position: relative;
    font-size: 68px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: #222;
    margin-bottom: 26px;
}
.tittle-section__header::after{
    content: url(../images/tittle-poster.png);
    position: absolute;
   
    right: 30px;
    top: -70px;
    
}
.tittle-section__text{
    position: relative;
    margin-bottom: 30px;
}
.tittle-section__header::before{
    content: url(../images/tittle-poster-mobile.png);
    position: absolute;
    right: 595px;
}
.button-invite{
    color: var(--color-base);
    font-size: 16px;
    border: 1px solid #ffd338;
    border-radius: 8px;
    background: #ffd338;
    padding: 15px 31px;
}
@media(max-width: 1370px) {
    .tittle-section__header::before{
        display: none;
    }
}
@media(max-width: 1200px) {
    .tittle-section__header::after{
        display: none;
    }
}
@media(max-width: 750px){
    .tittle-section{
        padding-inline: 20px;
        margin-top: 40px;
    }
    .tittle-section__header{
        font-size: 38px ;
    }
}
.video-container{
    background-image: url(../images/background.svg);
    position: relative;
    margin-top: 60px;
    margin-bottom: 94px;
    padding-top: 200px;
    padding-bottom: 227px;
}
.video-container::before {
    content: url(../images/background-header.svg);
    position: absolute;
    top: 0px;
}
.video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-section__heading_heading{
    padding-inline: 93px;
}
.video-section__heading_text{
    text-align: center;
}
.video-section__heading{
    margin-bottom: 100px;
}
.video-section-content{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.video-section-content__heading{
    margin-bottom: 8px;
}
.video-section-content__lead-1 {
    position: relative;
    margin-bottom: 110px;
}
.video-section-content__lead-1::after{
    content: url(../images/video-section-content__lead-1-mobaile.png);
    position: absolute;
    left: -535px;
    bottom: -300px;
}
.video-sect{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: start;
    padding-top: 38px;
    margin-bottom: 75px;
}
.video-sect::after {
    content: url(../images/video-sector-poster-mobile-2.png);
    position: absolute;
    right: -88px;
    top: -149px;
}
.video-section-content__text-right{
    text-align: right;
}
@media(max-width: 1050px) {
    .video-sect::after {
        display: none;
    }
    .video-section__heading {
        margin-bottom: 38px;
    }
    .video-section-content__lead-1{
        margin-bottom: 38px;
    }
    .video-section-poster__poster{
        width: 80vw;
        height: auto;
    }
    .video-section{
        padding-inline: 30px;
    }
    .video-section__heading_heading{
        font-size: 30px;
    }
    .video-container{
        margin-block: 0;
        padding-block: 75px;
    }
    .video-container::before {
        display: none;
    }
    .video-sect{
        margin-bottom: 38px;
    }
    
}

.statistic-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/statistic-image-bacground.png);
    padding-top: 33px;
    padding-bottom: 90px;
}
.statistic-sector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}
.statistic-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}
.statistic-header__heading{
    text-align: center;
    padding-inline: 57px;
    margin-bottom: 25px;
}
.statistic-header__text{
    text-align: center;
    
}
.statistic-content-sector-1{
    position: relative;
    padding-left: 310px;
    margin-bottom: 81px;
}
.statistic-content-sector-1::before{
    content: url(../images/statistic-img-mobile-1.png);
    position: absolute;
    left: 0;
    top: -70px;
}
.statistic-content-poster {
    padding-inline: 74px;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}
.statistic-content-poster__poster{
    margin-bottom: 38px;
}
.statistic-content-sector-3{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statistic-content-sector-3::after {
    content: url(../images/statistic-img-mobile-2.png);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}
@media(max-width: 1050px) {
    .statistic-container{
        padding-bottom: 0;
    }
    .statistic-header{
        margin-bottom: 38px;
    }
    .statistic-header__text{
        padding-inline: 30px;
    }
    .statistic-content-poster{
        padding-inline: 30px;
    }
    .statistic-content-sector-1{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-inline: 30px;
        flex-wrap: wrap;
        margin-bottom: 38px
    }
    .statistic-content-sector-3{
        display: flex;
        position: static;
        padding-inline: 30px;
        align-items: start;
        flex-wrap: wrap;
    }
    .statistic-content-poster__poster {
        width: 40vh;
        height: auto;
    }
    .statistic-content-sector-3::after{
        display: none;
    }
    .statistic-content-sector-1::before{
        display: none;
    }
    .statistic-header__heading {
        font-size: 35px;
    }
}

.features-stction{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 175px;
    padding-bottom: 180px;
}
.features-header{
    margin-bottom: 77px;
}
.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 67px;
    column-gap: 30px;
}
.features-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 17px;
}
.features-card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 8px;
}
.features-card-text__info{
    text-align: center;
}
@media(max-width: 1320px){
    .features-stction {
        padding-inline: 30px;
    }
}
@media(max-width: 750px) {
    .features-header {
        margin-bottom: 30px;
    }
    .features {
        row-gap: 30px;
    }
    .features-stction {
        padding-bottom: 100px;
    }
}

.pricing-container{
    background-color: #FFF9E8;
}
.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 70px;
    flex-wrap: wrap;
}
.pricing-heading {
    margin-bottom: 70px;
}
.pricing-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-block: 15px;
}
.pricing-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-block: 40px;
    padding-inline: 70px;
    background-color: #222222;
    border-radius: 30px;
    box-shadow: 4px 4px 0 0 #ffd338;
}
.pricing-card__heading {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #fff;
}
.pricing-card__price {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #fff;
}
.pricing-card__price_old {
    color: #666;
}
.pricing-card__info {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #999;
}
@media(max-width: 750px) {
    .pricing-heading {
        margin-bottom: 30px;
    }
    .pricing-list {
        flex-direction: column;
    }
}

.invite-section {
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding-top: 240px;
    padding-inline: 210px;
    row-gap: 25px;
}
@media(max-width: 1024px) {
    .invite-section {
        padding-top: 100px;
        padding-inline:100px;
    }
    .invite-heading {
        font-size: 30px;
    }
}
@media(max-width: 750px) {
    .invite-section {
        padding-top: 0;
        padding-inline:30px;
}
}
@media(max-width: 550px){
br {
    display: none;
  }
}