@font-face {
    font-family: "Roboto";
    src: url(../Roboto-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
    --button-border-radius: 8px;
    --color-fill: #FFFFFF;
    --color-base: #222222;
    --color-base-two: #555555;
    --font-size-text: 18px;
}
body{
    font-family: "Roboto", sans-serif;
    color: var(--color-base);
    background-color: var(--color-fill);
    font-weight: 400;

}
@media(hover:hover){
button:hover{
    transition: 0.2s;
    transform: scale(1.1); /* увеличение при наведении*/
}
}
.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 175px 0 69px;
}
.header-action{
    font-size: 16px;
    color: #000;
    border: 1px solid #222;
    border-radius: 8px;
    padding: 10px 31px;
}
@media(max-width: 750px) {
    .header-section{
        padding-inline: 20px;
        padding-top: 20px;
        flex-wrap: wrap;
    }
}
.tittle-section{
    padding-left: 207px;
    margin-top: 95px;
}
.tittle-section__header{
    position: relative;
    font-size: 68px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: #222;
    margin-bottom: 26px;
}
.tittle-section__header::after{
    content: url(../images/tittle-poster.png);
    position: absolute;
    transform: translateY(-50%);
    right: -236px;
    
}
.tittle-section__text{
    position: relative;
    font-size: 20px;
    line-height: 140%;
    color: var(--color-base-two);
    margin-bottom: 30px;
}
.tittle-section__header::before{
    content: url(../images/tittle-poster-mobile.png);
    position: absolute;
    right: 330px;
}
.button-invite{
    color: var(--color-base);
    font-size: 16px;
    border: 1px solid #ffd338;
    border-radius: 8px;
    background: #ffd338;
    padding: 15px 31px;
}
@media(max-width: 1250px) {
    .tittle-section__header::before{
        display: none;
    }
}
@media(max-width: 1250px) {
    .tittle-section__header::after{
        display: none;
    }
}
@media(max-width: 750px){
    .tittle-section{
        padding-inline: 20px;
        margin-top: 40px;
    }
    .tittle-section__header{
        font-size: 38px ;
    }
}